version: "3.9"

networks:
  net:
    driver: bridge

services:
  world:
    image: node:18
    command: npx ts-node server/src/app.ts
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - chroma-server
    networks:
      net:
        aliases:
          - world
    ports:
      - "3123:3123"
      - "8080:8080"

  agent1:
    image: node:18
    command: npx ts-node server/src/agents/ag1.ts
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - net
    depends_on:
      - world
    ports:
      - "3111:3111"

  agent2:
    image: node:18
    command: npx ts-node server/src/agents/ag2.ts
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - net
    depends_on:
      - world
    ports:
      - "3112:3112"

  agent3:
    image: node:18
    command: npx ts-node server/src/agents/ag3.ts
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - net
    depends_on:
      - world
    ports:
      - "3113:3113"

  agent4:
    image: node:18
    command: npx ts-node server/src/agents/ag4.ts
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - net
    depends_on:
      - world
    ports:
      - "3114:3114"

  frontend:
    build: ./frontend
    networks:
      - net
    depends_on:
      - world
    ports:
      - "3000:3000"
  chroma-server:
    image: peterbeulr/chroma:latest
    volumes:
      - index_data:/chroma/.chroma/index
    environment:
      - CHROMA_DB_IMPL=clickhouse
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=8123
    ports:
      - 8000:8000
    depends_on:
      - clickhouse
    networks:
      - net

  clickhouse:
    image: clickhouse/clickhouse-server:22.9-alpine
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - CLICKHOUSE_TCP_PORT=9000
      - CLICKHOUSE_HTTP_PORT=8123
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_logs:/var/log/clickhouse-server
      - backups:/backups
      - ${PWD}/config/backup_disk.xml:/etc/clickhouse-server/config.d/backup_disk.xml
      - ${PWD}/config/chroma_users.xml:/etc/clickhouse-server/users.d/chroma.xml
    networks:
      - net

volumes:
  clickhouse_data:
    driver: local
  clickhouse_logs:
    driver: local
  index_data:
    driver: local
  backups:
    driver: local
